:root{
    --color1:#001730;
    --color2:#4AD7D1;
    --color3:#FE4A49;
}


*,
*::before,
*::after{
    margin:0;
    padding:0;
}

body{
    width:100%;
    height:auto;
    /* background-color:var(--color1); */
}
#preloader{
    position:absolute;
    width:100%;
    min-height:120vh;
    z-index:999;
    background-color:var(--color1);
    transition: background-color 1s linear 0s;
    overflow-x:hidden;
}
.offPreloader{
    background-color:var(--color1);
    transition: background-color 1s linear 0s;
    display:none !important;
}
svg{
    width:250px;
    height:250px;
}
.show-now-wrapper{
    width:100%;
    min-height:100vh;
    /* border:4px solid red; */
    position:relative;
    /* display:none !important; */
}
/* .box{
    border:2px solid black;
} */
.box img{
    width:450px;
    display:block;
    margin:auto;
}
.button-wrapper{
    /* border:2px solid black; */
}
