:root{
    --color1:#001730;
    --color2:#4AD7D1;
    --color3:#FE4A49;
    --color4:#535557;
    --color5:#293139;
    --html5-color:#f06529;
    --html5-color2:#e34c26;
    --css3-color:#264de4;
    --css3-color2:#2965f1;
    --js-color:#293139;
    --froggy-color:#4CC24F;
}


*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box !important;
    text-decoration:none !important;
}

body{
    width:100%;
    height:auto;
    overflow:hidden !important;
    font-family: 'Lato', sans-serif !important;
}
.removeOverflow{
    overflow:auto !important;
}
#preloader{
    position:fixed;
    width:100%;
    inset:0;
    z-index:999;
    background-color:var(--color1);
    transition: background-color 1s linear 0s;
}
.offPreloader{
    background-color:var(--color1);
    transition: background-color 1s linear 0s;
    display:none !important;
}
svg{
    width:250px;
    height:250px;
}
.show-now-wrapper{
    width:100%;
    min-height:100vh;
    position:relative;
    /* border:2px solid #fff; */
    background-image:url('../img/team.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    isolation:isolate;
    -ms-isolation:isolate;
    -webkit-isolation:isolate;
}
.show-now-wrapper::after{
    content:'';
    position:absolute;
    background-color:var(--color5);
    top:0;
    right:0;
    bottom:0;
    left:0;
    inset:0;
    z-index: -1;
    opacity:.7;
}
.content-area{
    /* border:2px solid black; */
}
.countdown-btn{
    background-color: var(--color5);
}
.countdown-btn:hover{
    background-color:var(--color5) !important;
}
.button-wrapper{
    /* border:2px solid black; */
}
.proceed-btn{
    background-color: var(--js-color);
    color:#fff;   
}
.proceed-btn:hover{
    background-color:#fff;
    color: var(--js-color);
}
.html-btn{
    background-color:var(--html5-color);
    color:#fff;
}
.html-btn:hover{
    background-color:#fff;
    color:var(--html5-color);
}
.css-btn{
    background-color: var(--css3-color);
    color:#fff;
}
.css-btn:hover{
    background-color:#fff;
    color:var(--css3-color2);
}
.js-btn{
    background-color: var(--js-color);
    color:#fff;
}
.js-btn:hover{
    color: var(--js-color);
    background-color:#fff;
}
.froggy-btn{
    background-color:var(--froggy-color);
    color:#fff;
}
.froggy-btn:hover{
    color:var(--froggy-color);
    background-color: #fff;
}
.html-btn,.css-btn,.js-btn,.froggy-btn{
    font-weight:400;
    outline:0;
}