:root{
    --color1:#001730;
    --color2:#4AD7D1;
    --color3:#FE4A49;
    --color4:#3d4348;
    --html5-color:#f06529;
    --html5-color2:#e34c26;
    --css3-color:#264de4;
    --css3-color2:#2965f1;
    --js-color:#f0db4f;
}


*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box !important;
}

body{
    width:100%;
    height:auto;
    overflow:hidden !important;
    font-family: 'Lato', sans-serif !important;
    background-color:var(--color4);
}
.removeOverflow{
    overflow:auto !important;
}
#preloader{
    position:absolute;
    width:100%;
    height:100vh;
    z-index:999;
    background-color:var(--color1);
    transition: background-color 1s linear 0s;
    overflow:hidden !important;
}
.offPreloader{
    background-color:var(--color1);
    transition: background-color 1s linear 0s;
    display:none !important;
}
svg{
    width:250px;
    height:250px;
}
.show-now-wrapper{
    width:100%;
    height:100vh;
    position:relative;
}
.button-wrapper{
    /* border:2px solid black; */
}
.html-btn{
    background-color:var(--html5-color);
    color:#fff;
}
.css-btn{
    background-color: var(--css3-color);
    color:#fff;
}
.js-btn{
    background-color: var(--js-color);
    color:#fff;
}
.html-btn,.css-btn,.js-btn{
    font-weight:400;
}